@import "../../assets/colors.scss";

.checkbox {
    position: absolute;
    left: 30px;
    bottom: 20px;
    height: 51px;
    padding: 14px;
    flex: 1;
    z-index: 2;
  }
  
  .checkbox__container {
    display: block;
    width: 51px;
    height: 28px;
    background-color: $violet;
    border-radius: 14px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .checkbox__container {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s all ease-in-out;
  }
  
  .checkbox__container::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    right: 28px;
    transition: 0.5s;
  }
  
  .checkbox__switch {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  .checkbox__switch:checked + .checkbox__container:after {
    right: calc(100% - 27px);
    transform: translateX(100%);
  }
  
  .checkbox__container:active:after {
    width: 13px;
  }
  