@import "../../assets/colors.scss";
@import "../../assets/fonts.scss";

.page {
  width: 100%;
  margin: 0 auto;
}

.app {
  text-align: center;
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  font-family: $Oswald;
}

.light {
  background-color: $white;
  color: $violet;
}

.dark {
  background-color: $violet;
  color: $white;
}