@import "../../assets/colors.scss";
@import "../../assets/fonts.scss";

.nav {
  display: flex;
  justify-content: space-between;
}

.link {
    text-decoration: none;
    padding: 8px 0;
    display: flex;
    justify-content: baseline;
    font-family: $Comfortaa;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.light {
  color: $violet;
  border-bottom: 2px dotted $violet;
}

.dark {
  color: $white;
  border-bottom: 2px dotted $white;
}

.dark:hover, .light:hover, .button:hover {
  border-bottom: 2px solid;
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  position: relative;

  font-family: $Comfortaa;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0; 
}

.submenu__link {
  text-decoration: none;
}