@import "../../assets/colors.scss";
@import "../../assets/fonts.scss";

.dashboard {
  display: grid;
  grid-template-columns: minmax(250px, 750px) 1fr;
  padding: 73px 116px 66px 137px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.title {
  margin: 0;
  font-family: $Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 133px;
}

.subtitle {
  font-family: $Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
}

.link {
  font-family: $Raleway;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 8px;
  position: relative;
  padding: 14px 20px;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.link::before,
.link::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.6s;
}

.link::before {
  top: 0;
  left: 0;
  border-top: 2px solid;
  border-left: 2px solid;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link::after {
  bottom: 0;
  right: 0;
  border-right: 2px solid;
  border-bottom: 2px solid;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link:hover::before,
.link:hover::after {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.link:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: inset;
}
