@import "../../assets/colors.scss";

.search {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}

.icon {
  width: 28px;
  height: 28px;
}

.input {
  border: none;
  height: 28px;
  background-color: transparent;
}

.input:focus {
  outline: none;
}

.light {
  border-bottom: 1px solid $violet;
  color: $violet;
}

.dark {
  border-bottom: 1px solid $white;
  color: $white;
}

