@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$font-family: 'Montserrat', sans-serif;
$font-family: 'Yeseva One', cursive;
$Comfortaa: 'Comfortaa', cursive;
$Oswald: 'Oswald', sans-serif;