@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

$Montserrat: "Montserrat", sans-serif;
$YesevaOne: "Yeseva One", cursive;
$Comfortaa: "Comfortaa", cursive;
$Oswald: "Oswald", sans-serif;
$Raleway: 'Raleway', sans-serif;